/* #Dark {
    --cl: white;
    --bg: #0f0c3d;
    --letter: red;
    --sidebar: black;
    --hover: rgb(76, 179, 243);
    --abaut: black;
    --title: rgb(245, 116, 11);
    --card: rgb(234, 233, 241);
    --cirk: rgb(245, 169, 5);
    --contact: rgb(0, 0, 10);
    --logo1: green;
    --logo2: blue;
    --logo3: white;
    --logo4: rgb(41, 105, 245);
    --logo5: orangered;
    --bubbles1: rgb(24, 243, 90);
    --bubbles2: rgb(54, 232, 238);
    --cardLetter: black;
    --bg-secondary: black;
    --text: #f0f0f0;
    --morph1: #c2944f;
    --morpht2: rgb(53, 144, 172);
    --clr:red;
    --golden: rgb(236, 209, 52);
    --sombra:rgb(189, 46, 141);
    --trancicion: rgba(0, 0, 0, 0.288);
    --wihte: white;
    --target: rgb(231, 228, 228);
}


#Light {
    --cl: black;
    --bg: white;
    --letter: rgb(238, 255, 0);
    --sidebar: lightskyblue;
    --hover: white;
    --abaut: white;
    --title: rgb(76, 28, 247);
    --card: rgb(247, 231, 88);
    --cirk: rgb(245, 5, 5);
    --contact: rgb(235, 91, 8);
    --logo1: rgb(21, 73, 21);
    --logo2: rgb(18, 18, 82);
    --logo3: rgb(241, 237, 237);
    --logo4: rgb(7, 66, 196);
    --logo5: rgb(5, 4, 5);
    --bubbles1: rgb(71, 238, 99);
    --bubbles2: rgb(48, 198, 209);
    --cardLetter: white;
    --bg-secondary: white;
    --text: hsl(0, 0%, 13%);
    --morph1: #eb8eee;
    --morpht2: #888de9;
    --clr:red;
    --golden: rgb(6, 66, 197);
    --sombra:rgb(12, 11, 10);
    --trancicion: rgba(82, 77, 77, 0.048);
    --wihte: black;
    --target: #292f64;
} */
